%h1 
  = @contest.name
%h4
  = @contest.start.strftime( "%b %d -")
  = @contest.end.strftime( "%b %d, %Y")
= @contest.total_impact
lbs of CO2 reduced!
.freerange_marker
  Display total impact for the contest to date

%h2 Participating Teams
%ul
  - for team in @teams do
    %li
      %h3
        = team.name
      Impact:
      = team.score
      pounds of CO2
      .freerange_marker
        Display total impact for the team
