- if logged_in? && pledge = @team.pledges.find_by_user_id( current_user.id )
  %h2
    Your pledge:
    - pledge.commitments.each do |commitment, days|
      %p 
        = Pledge::COMMITMENTS.rassoc( commitment ).first
        = days 
        days a week, saving
        = pledge.weekly_commitment_impact
        lbs of CO2

  %h2
    Your carbon reduction to date:
  %p
    = pledge.total_impact
    lbs of CO2
    .freerange_marker
      = render :partial => 'shared/impact', :locals => { :source => pledge }

%h2
  Carbon reduction to date for
  = @team.name
%p
  = @team.total_impact
  lbs of CO2
  .freerange_marker
    = render :partial => 'shared/impact', :locals => { :source => @team }

= render :partial => 'shared/tell_a_friend'
