%p
  Dear
  = @recipient
  ,
%p
  = @message
  There are just
  = @weeks_remaining
  weeks to go!
%p
  = link_to "Report this week\'s action", @report_url

%p
  = link_to "Stop sending me email", @opt_out_url
