= render :partial => 'contests/header', :locals => { :contest => @contest, :image_folder => '../../..' }
= error_messages_for :pledge
= error_messages_for :user, :object => @pledge.user
- form_for [@contest, @pledge] do |f|
  .pledge_form_block
    = render :partial => 'form', :locals => { :f => f }
  .pledge_confirmation_block
    = f.check_box :pledge_details_confirmed
  %p.submit
    = image_submit_tag '../../images/gogreen/pledgenow.png', :id => 'pledge_confirm_page', :alt => 'make pledge'
- content_for :dom_ready do
  - if @pledge.awaiting_confirmation?
    $('.pledge_confirmation_block').show();
    $('.pledge_form_block').hide();
