%p
  = @contest && @contest.intro_text
= error_messages_for :pledge
= error_messages_for :user, :object => @pledge.user
- form_for [@contest, @pledge] do |f|

  %fieldset
    %legend Contact Info 
    %p.required
      = f.label :team
      = f.select :team_id, team_options(@contest), :include_blank => true

    - f.fields_for :user_attributes, @pledge.user do |user|
      %p
        = user.label :first_name
        = user.text_field :first_name
      %p
        = user.label :last_name
        = user.text_field :last_name
      %p
        .info
          If you are younger than 13 years of age please use your parent's email address in this space.
          For more information on how Go Green Foundation will use your contact info, see our
          = link_to 'privacy policy', '/privacy.html'
        = user.label :email
        = user.text_field :email
      %p
        = user.label :password
        = user.password_field :password
      %p
        = user.label :password_confirmation
        = user.password_field :password_confirmation

  %fieldset
    %legend Your Car
    %p
      = f.label :car_type, "What kind of car do you drive?"
      = f.select :car_type, car_type_options
    %p
      = f.label :distance_to_destination, ( @contest && @contest.distance_question_text || "How far away are you from your school in miles?" )
      = f.text_field :distance_to_destination 

  %fieldset
    %legend Your Pledge
    .pledge 
      Every week I pledge to:
      %p
        %table
          %tr
            %td
              = f.label :walk_bike, "Walk/Bike"
            %td.mode_of_transport
              - 0.upto(5) do |day|
                %span.pledge_size_container
                  = f.radio_button 'walk_bike', day, :class => 'pledge_size', :'data-points' => (day*20)
                  %label{ :for => "pledge_walk_bike_#{day}"}
                    = "#{day} days"
          %tr
            %td
              = f.label :public_transit, "Take the bus or train"
            %td.mode_of_transport
              - 0.upto(5) do |day|
                %span.pledge_size_container
                  = f.radio_button 'public_transit', day, :class => 'pledge_size', :'data-points' => (day*10)
                  %label{ :for => "pledge_public_transit_#{day}"}
                    = "#{day} days"
          %tr
            %td
              = f.label :carpool
            %td.mode_of_transport
              - 0.upto(5) do |day|
                %span.pledge_size_container
                  = f.radio_button 'carpool', day, :class => 'pledge_size', :'data-points' => (day*5)
                  %label{ :for => "pledge_carpool_#{day}"}
                    = "#{day} days"
        %div.awesomeness
          .score-good.score{:'data-threshold' => 10}
            Good
          .score-better.score{:'data-threshold' => 40}
            Better
          .score-amazing.score{:'data-threshold' => 60}
            Amazing
          .score-greentastic.score{:'data-threshold' => 90}
            Green-tastic!
    %p
      = f.label :carpool_participants, "How many people are usually in your carpool?"
      = f.select :carpool_participants, (1...6).to_a

  = f.submit 'make pledge'#, :onclick => "alert('pledge will be created'); return false;"

- content_for :dom_ready do
  :plain
    $('.mode_of_transport .pledge_size').click( pledge_scoring );
