.spareplanet
  %h2
    Take the challenge
    = @contest.name
%p
  = @contest.intro_text
.statbox
  .statboxtopbg
    %h2 
      TOTAL IMPACT:
      %span
        = ( @contest.total_impact || 0.0 ).round_to(1)
      lbs of CO2 reduced!
  .statcontent
    .statcontenttopbg
      .statcontentbottombg
        = render :partial => 'shared/impact', :locals => { :source => @contest, :contest => @contest }

.statbox
  .statboxtopbg.other
    %h2
      Top Teams
  .statcontent
    .statcontenttopbg
      .statcontentbottombg.team
        - for team in @contest.teams do
          .stattext{ :class => cycle( 'alt', '' ) }
            %span
              = link_to team.name, team_path( team )
            %p
              - team_impact = ( team.total_impact || 0.0 ).round_to(1)
              = team_impact
              pounds of CO2
