- form_for @participant do |f|
  %p
    = f.label :first_name
    = f.text_field :first_name
  %p
    = f.label :last_name
    = f.text_field :last_name
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p
    = f.label :team
    = f.select :team_id, team_options
  %p
    = f.label :car_type, "What kind of car do you drive?"
    = f.select :car_type, car_type_options
  -#%p
    = f.label :car_year, "What year is your car?"
    = f.select :car_year, car_year_options
  -#%p
    = f.label :graduation_year, "When will you graduate from high school?"
    = f.select :graduation_year, graduation_year_options 
  %p
    = f.label :distance_to_destination, "How far away are you from your school in miles?"
    = f.text_field :distance_to_destination 

  .pledge 
    I pledge to 
    %p
      %table
        %tr
          %td
            = f.label :walk_bike, "Walk/Bike"
          %td
            = f.select :walk_bike, pledge_options
        %tr
          %td
            = f.label :public_transit, "Take the bus or train"
          %td
            = f.select :public_transit, pledge_options
        %tr
          %td
            = f.label :carpool
          %td
            = f.select :carpool, pledge_options
  %p
    = f.label :carpool_participants, "How many people are usually in your carpool?"
    = f.select :carpool_participants, (0...6).to_a

  = f.submit 'make pledge', :onclick => "alert('pledge will be created'); return false;"
