%h2 Tell Your Friends
Tell a friend about this program and get them to make a pledge.
- form_tag '/mail' do
  %p
    From: 
    = "#{current_user.first_name} #{current_user.last_name} #{current_user.email}"
  %p
    = label_tag 'to_email'
    = text_field_tag :to_email
  %p
    = label_tag 'subject'
    = text_field_tag :subject
  %p
    = label_tag 'body'
    = text_area_tag :body
  = submit_tag 'Send', :onclick => "alert('Email would be sent.'); return false;"
