.info
  = pledge.user.name
  .email
    = pledge.user.email
  - unless pledge.team.nil?
    .team
      Team: 
      = pledge.team.name
.toolbar
  - form_for 'send_reminder', :url => admin_pledge_report_reminders_path( pledge) do |f|
    = f.submit "Send Login", :class => 'email button'
  = link_to 'disable account', "disable_button", :class => 'disable button', :onclick => "alert('Account was disabled'); return false;"
