%p
  Dear
  = @pledge.user.first_name
  ,
%p
  = @pledge.contest.email_text
  There are just
  = (( @pledge.contest.end - Time.now ) / 1.week ).to_i
  weeks to go!
%p
  = link_to "Report this week\'s action", new_pledge_report_path( @pledge, :start => Time.now.at_beginning_of_the_week  )

%p
  = link_to "Stop sending me email", "stop", :onclick => 'alert( "User is prevented from receiving further email" );'
