= error_messages_for :report
#weekly_data.container
  .actions.span-6
    .header
      &nbsp;
    .clear
    - action_options.each do |( action_text, action_key )|
      .action_option
        = action_text
    = f.hidden_field 'start'
  - 0.upto 4 do |i|
    .report_day.span-2
      - f.fields_for :actions_data, @report.report_actions[i], :index => i do |ff|
        .header
          = ( @report.start + i.days ).strftime("%A")
          .date
            = ( @report.start + i.days ).strftime("%b %d")
        .clear

          - action_options.each do |( action_text, action_key )|
            .action_option
              = ff.radio_button "mode_of_transport", action_key
