%p
  How did you reduce your carbon impact this week?

- form_for @report do |f|
  %table
    %tr
      %td
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
    %tr
      %td Nuthin
      %td 
        = f.radio_button 'monday', 'nothing'
      %td 
        = f.radio_button 'tuesday', 'nothing'
      %td 
        = f.radio_button 'wednesday', 'nothing'
      %td 
        = f.radio_button 'thursday', 'nothing'
      %td 
        = f.radio_button 'friday', 'nothing'
    %tr
      %td Walking/Biking
      %td 
        = f.radio_button 'monday', 'walk_bike'
      %td 
        = f.radio_button 'tuesday', 'walk_bike'
      %td 
        = f.radio_button 'wednesday', 'walk_bike'
      %td 
        = f.radio_button 'thursday', 'walk_bike'
      %td 
        = f.radio_button 'friday', 'walk_bike'
    %tr
      %td Public Transit
      %td 
        = f.radio_button 'monday', 'public_transit'
      %td 
        = f.radio_button 'tuesday', 'public_transit'
      %td 
        = f.radio_button 'wednesday', 'public_transit'
      %td 
        = f.radio_button 'thursday', 'public_transit'
      %td 
        = f.radio_button 'friday', 'public_transit'
    %tr
      %td Carpooling
      %td 
        = f.radio_button 'monday', 'carpool'
      %td 
        = f.radio_button 'tuesday', 'carpool'
      %td 
        = f.radio_button 'wednesday', 'carpool'
      %td 
        = f.radio_button 'thursday', 'carpool'
      %td 
        = f.radio_button 'friday', 'carpool'

  = f.submit 'make report'
