%p
  = render :partial => 'week_nav'
%p
  = "Hi #{@pledge.user.first_name},"

%p
  How did you get to school this week?

- form_for @report, :url => pledge_reports_path( @pledge ) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p.submit
    = f.submit 'make report'
