!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = controller.action_name.titleize
      &mdash;
      = controller.controller_name.titleize
    %meta{ :content => "text/xhtml; charset=utf-8", "http-equiv" => "content-type" }/
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }/
    %meta{ :name => "distribution", :content => "all" }/
    %meta{ :name => "robots", :content => "all" }/
    %meta{ :name => "resource-type", :content => "document" }/
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }/
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection'
    <!--[if IE]>
    = stylesheet_link_tag 'blueprint/ie'
    <![endif]-->
    = stylesheet_link_tag 'application'

  %body
    #outer-container
      #header.container
      #main.container
        = render 'layouts/navigation'
        #content.span-15
          .content-padding 
            - unless flash[:notice].blank?
              .flash-notice
                = flash[:notice]
            - unless flash[:error].blank?
              .flash-error
                = flash[:error]
            = yield
      #footer.container

    = javascript_include_tag 'jquery/jquery-1.2.6.min.js'
    =# javascript_include_tag 'application'
    - javascript_tag do
      $( function() {
      $('.js-hide').addClass('js-hidden').hide();
      $('.js-only').removeClass('js-only');
      = yield :dom_ready
      } );
