#navigation.span-7
  - if logged_in? && current_user.superuser?
    %ul.admin_menu
      %h4 Administration
      %li
        = link_to "pledges", admin_pledges_path
      %li
        = link_to "contests", admin_contests_path
        = link_to "new team", new_admin_team_path, :class => 'new button'
        = link_to "new contest", new_admin_contest_path, :class => 'new button'

  %ul.current_user
    - unless logged_in?
      = link_to 'login', login_path

    - if logged_in? && !current_user.pledges.active.empty?
      %h4 Your pledges
      - current_user.pledges.active.each do |pledge|
        %li
          = pledge.contest.name
          %br
          Your team:
          = link_to pledge.team.name, team_path( pledge.team )
          %br
          = link_to "report last week's action", new_pledge_report_path( pledge, :week => 'previous' ) unless pledge.previous_report # || last week is outside teh scope
          %br
          = link_to "report action", new_pledge_report_path( pledge ) unless pledge.current_report


    - if logged_in?
      %li
        = link_to 'logout', logout_path

  %ul.contests
    %h4 Contests
    - Contest.all.each do |contest|
      %li
        = link_to contest.name, contest_path( contest )
        = link_to 'pledge', new_contest_pledge_path( contest ) unless logged_in? && contest.pledges.find_by_user_id(current_user.id)
        %ul
          - contest.teams.each do |team|
            %li
              = link_to team.name, team_path( team )
    %li.raise
      = link_to 'Raise Your Voice', industries_path





  -#.climate_counts_tool
    = link_to 'companies dashboard', companies_path
    |
    = link_to 'company detail', company_path(1)
    |
    = link_to 'industry list', industries_path
