.rightcontent
  - if logged_in? && current_user.superuser?
    .headerlink
      %h2
        Administration
    .pledgebox
      .sidebox 
        %ul.nav
          %li.active
            %ul
              %li
                = link_to "pledges", admin_pledges_path
                = link_to "contests", admin_contests_path
                = link_to "new team", new_admin_team_path, :class => 'new button'
                = link_to "new contest", new_admin_contest_path, :class => 'new button'

  - if @contest && !( logged_in? && @contest.pledges.find_by_user_id(current_user.id))
    = link_to "Pledge Now", new_contest_pledge_path(@contest), :class => 'pledge'

  - if logged_in? && !current_user.pledges.active.empty?
    .headerlink
      %h2#your_pledge
        YOUR PLEDGE
    .pledgebox
      .sidebox
        %ul.nav
          - current_user.pledges.active.each do |pledge|
            %li.active
              = link_to "#{pledge.contest.name} &mdash; #{pledge.team.name}", team_path( pledge.team )
              %ul
                %li
                  = link_to "report last week's action", new_pledge_report_path( pledge, :week => 'previous' ) unless pledge.previous_report # || last week is outside teh scope
                %li
                  = link_to "report action", new_pledge_report_path( pledge ) unless pledge.current_report

  .headerlink
    %h2#contests
      CONTESTS
    - unless logged_in?
      = link_to 'login', login_path, :class => 'login_button login'
    - else
      = link_to "logout", logout_path, :class => 'login_button logout'

  .navboxtopbg
    .navboxbottombg
      .contestbox
        .sidebox
          %ul.nav
            - Contest.all.each do |contest|
              %li{ :class => ( 'active' if @contest && @contest.id == contest.id ) }
                = link_to contest.name, contest_path( contest )
                %ul
                  - contest.teams.each do |team|
                    %li
                      = link_to team.name, team_path( team )

- content_for :dom_ready do
  :plain
    $('ul.nav > li').click( function() { 
      if( $(this).hasClass('active') ) {
        return true;
      }
      $(this).toggleClass('active'); 
      return false; 
    } );
